html, body {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	/* vars go here */
	--page-spacing: 24px;
	--page-timing: 0.15s;

	--col-background: #fab;
	--col-body: #fff;
	--col-dim: #eee;
	--col-text: #222;
	--col-accent: #fab;
	--col-counterpick: #1fc;
	--col-shadow: #bbc;

	--font-big: 'arial';
	--font-big-size: 32px;
	--font-main: 'verdana';
	--font-main-size: 18px;

	--shadow: -4px 4px var(--col-shadow);

	--border-width: 4px;
	--buttons-height: 64px;

	/* always display the scrollbar because the width-flickering annoys me to hell and back */
	overflow-y: scroll;
}

body {
	background: var(--col-background);
}

main {
	position: relative;
	display: block;
	width: 80%;
	margin: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	color: var(--col-text);
	font-family: var(--font-main);
	font-size: var(--font-main-size);
	
}

h1 {
	font-family: var(--font-big);
	font-size: var(--font-big-size);
	margin: 0;
	padding-bottom: var(--page-spacing);
	font-weight: bold;
	font-style: italic;
	text-decoration: underline dotted var(--col-accent);
}

hr {
	border-top: 0;
	border-bottom: 2px dotted var(--col-background);
	margin: 0;
	margin-bottom: var(--page-spacing);
	width: calc(100% + var(--page-spacing) + var(--page-spacing));
	margin-left: calc(var(--page-spacing) * -1);
}

a {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: var(--col-accent);
}

a:hover {
	color: var(--col-counterpick);
}

section {
	padding: var(--page-spacing);
	margin: 0;
	background-color: var(--col-body);
	box-shadow: var(--shadow);
}

section p {
	margin: 0;
	margin-bottom: var(--page-spacing);
	width: 100%;
}

section.alert {
	display: block;
	padding-bottom: 0;
}

section.alert p {
	width: fit-content;
	padding: 4px;
	border-radius: 6px;
	color: #fff;
	margin: 0;
}

section.alert p.error {
	background-color: #fd7d7d;
}

section.alert p.success {
	background-color: #7bffa2;
}

form {
	margin-top: var(--page-spacing);
}

form input, form .button, form select {
	margin-bottom: var(--page-spacing);
}

form label {
	margin-bottom: calc(var(--page-spacing) / 2);
}

form input, form label, form select {
	display: block;
}

