/*============================================================================*/
 /*                            FULL IMAGE VIEW                                */
/*============================================================================*/

html, body {
	height: 100%;
	padding-top: 0;
	overflow: hidden;
}

main, aside {
	position: relative;
	display: block;
	height: 100%;
	float: left;
}

main {
	width: 70%;
	background-image: url('../myag_files/imagebg.png');
	background-size: 20px;
	background-position: center;
	margin: 0;
	padding: 0;
}

main div {
	position: absolute;
	width: 90%;
	height: 90%;
	margin: 5%;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

aside {
	width: calc(30% - var(--sizing) * 2);
	height: calc(100% - var(--sizing) * 2);
	background-color: var(--col-body);
	padding: var(--sizing);
}

aside h2 {
	margin: 0;
	margin-bottom: var(--sizing);
	max-height: 20%;
	overflow-y: hidden;
}


aside > p {
	width: 100%;
	max-height: calc(80% - var(--sizing) * 3 - 150px);
	overflow-y: scroll;
	scrollbar-width: none;
	text-align: justify;
}

nav {
	position: absolute;
	width: calc(100% - var(--sizing) * 2);
	bottom: 0;
}

nav .groupButton {
	width: calc(100% - var(--border-width) * 2);
	height: 50px;
	margin-top: 0;
	margin-bottom: 16px;
}
