
/*============================================================================*/
/*                             GENERAL/MAIN STYLES                            */
/*============================================================================*/


html, body {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	display: block;
}

body {
	background-color: var(--col-backg);
	z-index: 1;
	font-family: var(--font-main);
	font-size: var(--font-main-size);
	color: var(--col-text);
}

h1 {
	text-align: center;
	font-family: var(--font-big);
	font-size: var(--font-big-size);
	color: var(--col-highlight);
	font-weight: bold;
	display: block;
	margin-top: var(--page-spacing);
	margin-bottom: var(--page-spacing);
}


hr {
	border: none;
	border-bottom-width: var(--divider-size);
	border-bottom-color: var(--col-highlight);
	border-bottom-style: var(--divider-style);
	width: var(--divider-width);
	margin-left: calc((100% - var(--divider-width)) / 2 - 2px);
	margin-right: calc((100% - var(--divider-width)) / 2 - 2px);
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}


#mainWrapper {
	position: relative;
	border-width: var(--border-width);
	border-color: var(--col-highlight);
	border-style: solid;
	border-radius: var(--corner-radius);
	background-color:  var(--col-body);
	box-shadow: 0px 0px 14px RGBA(0,0,0,0.1);

	
	
	margin:  var(--page-margin);
	width: calc(100% - var(--page-margin) - var(--page-margin) - var(--border-width) - var(--border-width));
}



.para {
	width: calc(100% - var(--page-spacing) - var(--page-spacing));
	margin: var(--page-spacing);
	text-align: var(--main-text-align);
}



h1 {
	font-family: var(--font-big);
	font-size: var(--font-big-size);
	color: var(--col-text);
	text-align: left;
	padding: var(--page-spacing);
	margin: 0;
}

h1 + .para {
	margin-top: 0;
}



/*============================================================================*/
/*                             PAGE HEADER SECTION                            */
/*============================================================================*/

#header {
	height: var(--userpic-size);
	margin: var(--page-spacing);
	margin-top: 0;
	padding-top: var(--page-spacing);
	width: calc(100%  - var(--page-spacing) - var(--page-spacing));
}

#userpic {
	background-color: var(--col-backg);
	padding-bottom: calc(var(--userpic-size) - var(--border-width) - var(--border-width));
	width:  calc(var(--userpic-size) - var(--border-width) - var(--border-width));
	height: 0;
	position: relative;
	
	border-width: var(--border-width);
	border-color: var(--col-highlight);
	border-style: var(--userpic-border);
	border-radius: var(--userpic-radius);
	background-image: var(--userpic-file);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

#shortInfo {
	position: absolute;
	margin-left: calc(var(--userpic-size) + var(--page-spacing));
	width: calc(100% - var(--userpic-size) - var(--page-spacing) - var(--page-spacing) - var(--page-spacing));
	top: var(--page-spacing);
	left: var(--page-spacing);

}

#username {
	text-align: var(--username--align);
	font-family: var(--font-big);
	font-size: var(--font-big-size);
	color: var(--col-highlight);
	padding: 0;
	margin: 0;
	font-weight: bold;
	display: block;
}

#userinfo {
	text-align: var(--main-text-align);
	color: var(--col-text);
	padding: 0;
	margin: 0;
	bottom: 0;
	font-style: italic;
}


/*============================================================================*/
/*                               ARTWORK VIEWER                               */
/*============================================================================*/

#artworkViewerWrapper {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,var(--overlay-opacity));
    z-index: 10;
    transition: opacity 0.3s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;

}

#artworkViewer, #artworkViewerSidebar1, #artworkViewerSidebar2 {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	
	top: 0;
	left: 0;
}



.artworkViewerSidebar {
	height: 100%;
	width:  30%;
	z-index: 20;
	cursor: pointer;
}

#artworkViewerSidebar2 {

	left: 70%;
}


.artworkViewerSidebar p {
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	color: #fff;

	font-family: 'Arial';
	font-size: 250px;
	font-weight: bolder;
	text-align: center;

	top: 50%;
	transform: translateY(-50%);

	opacity: 0;
	transition: opacity 0.1s, filter 0.1s;

	user-select: none;
	-webkit-user-select: none;
	pointer-events: all;
	filter: drop-shadow(0px 0px 14px RGBA(0,0,0,0));
}

.artworkViewerSidebar:hover > p {
	opacity: 0.7;
	filter: drop-shadow(0px 0px 14px RGBA(0,0,0,0.5));

}

.artworkViewerSidebar:active > p {
	opacity: 1;
	filter: drop-shadow(0px 0px 7px RGBA(0,0,0,0.5));
}

#artworkViewer {
	width: 35%; 
	height: 70vh;
	margin-top: 15vh;
	left: 32.5%;
	user-select: none;
	-webkit-user-select: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 15;
	position: absolute;

	background-color: var(--col-viewer-background);

}

#artworkViewerAbout {
	position: absolute;
	background-color: var(--col-body);
	color: var(--col-text);
	border-width: var(--border-width);
	border-color: var(--col-highlight);
	border-style: solid;
	border-radius: var(--corner-radius);
	padding: var(--page-spacing);
	max-height: calc(70vh - var(--page-spacing) - var(--page-spacing) - var(--border-width) - var(--border-width));
	overflow-y: scroll;
	width: calc(26% - var(--page-spacing) - var(--page-spacing) - var(--border-width) - var(--border-width));
	left: 3%;
	top: 15vh;
	text-align: var(--main-text-align);
 	-ms-overflow-style: none;  
  	scrollbar-width: none;
}

#artworkViewerAbout::-webkit-scrollbar {
  display: none;
}

#artworkViewerFull {
	position: absolute;
	padding: 8px;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
	text-align: center;
	margin: 0;
	background-color: rgba(0,0,0,0.15);
	text-decoration: underline;
	color: var(--col-highlight);
	transition: color 0.2s, background-color 0.2s;
	margin-top: var(--page-spacing);
	border-radius: var(--corner-radius);
}

#artworkViewerFull:hover {
	background-color: var(--col-body);
	color: var(--col-text);
}

.artworkViewerAboutName {
  font-weight: bold;
  font-style: italic;
  color: var(--col-highlight);

}

/*============================================================================*/
 /*                            FULL IMAGE VIEW                                */
/*============================================================================*/

#fullViewImageArea, #fullViewSidebar {
	position: relative;
	display: block;
	height: 100%;
	float: left;
}

#fullViewImageArea {
	width: 70%;
	background-image: url('../files/imagebg.png');
	background-position: center;
}

#fullViewImage {
	position: absolute;
	width: 96%;
	height: 96%;
	margin: 2%;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#fullViewSidebar {
	width: 30%;
	background-color: var(--col-body);
}

#fullViewSidebar h1 {
	max-height: 20%;
}

#fullViewTextAboutWrapper {
	width: 100%;
	max-height: 50%;
	overflow-y: scroll;
	scrollbar-width: none;

}

#fullViewTextAbout {
	text-align: justify;
}

#fullViewSidebarButtonsWrapper {
	position: absolute;
	width: 100%;
	bottom: 0;
}

/* yes, i reused the group button class. whatcha gonna do to me */

#fullViewSidebarButtonsWrapper .groupButton {
	width: calc(80% - var(--border-width) - var(--border-width));
	margin-left: 10%;
	margin-right: 10%;
	height: 50px;
	margin-top: 0;
	margin-bottom: 16px;
}

/*============================================================================*/
/*                             OTHER/MISC SECTION                             */
/*============================================================================*/

#links {
	width: 100%;
	text-align: center;
	color: var(--col-text);
}

#footer {
	color: var(--col-text-light);
	font-style: italic;
	font-size: 16px;
	width: 100%;
	text-align: center;
	margin: 0;
	margin-top: calc(var(--page-spacing) / 3);
	padding-bottom: calc(var(--page-spacing) / 3);

}